body, html {
  background-color: black;
  color: #fff;
  overflow: hidden;
}
p#syns {
  width: 1px;
  height: 1px;
  margin-top: 1000000px;
  position: fixed;
  overflow: hidden;
}
#input {
  width: 97%;
  height: 90%;
  padding: 10px;
  border-radius: 10px;
  text-align: left;
  background-color: white;
  color: black;
  position: absolute;
  font-size: 17px;
  margin: auto;
}
button {
  width: 100%;
  height: 5%;
  bottom: 5px;
  border-radius: 20px;
  background-color: #7f8;
  box-shadow: inset 2px -2px 30px #000000;
  position: absolute;
}
span.ordbpp {
}
span.origianlpp {
  color: rgba(255, 230, 230, 1);
}



.popup {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  visibility: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    z-index: 2;
    border-radius: 5px;
    margin-top: 17px;
    margin-left: -25px;
}
.popuptext {
  visibility: inherit;
}
/* Toggle this class - hide and show the popup */
.show {
  visibility: visible !important;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
